/*--------------------*/
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff") url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//<ПОДКЛЮЧАЕМ ШРИФТЫ>=======================
//&display=swap&subset=cyrillic-ext

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
//font-family: 'Heebo', sans-serif;

@import "fonts";
//</ПОДКЛЮЧАЕМ ШРИФТЫ>===========================

//<ПОДКЛЮЧАЕМ ИКОНОЧНЫЕ ШРИФТЫ>===================
@import "icons";
//</ПОДКЛЮЧАЕМ ИКОНОЧНЫЕ ШРИФТЫ>===================

//<ШРИФТ ПО УМОЛЧАНИЮ>======================
$fontFamily: "Heebo", sans-serif;
//</ШРИФТ ПО УМОЛЧАНИЮ>======================

//<ПЕРЕМЕННЫЕ>======================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>======================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============
@import "null";
body {
	color: #21243d;
	font-size: 14px;
	font-family: $fontFamily;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============

//<ОБОЛОЧКА>=========================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>=========================

//<ОСНОВНАЯ СЕТКА>===============================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	@media (max-width: $md1+px) {
		max-width: 750px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===============================

//<ПОДКЛЮЧАЕМ ОБЩИЕ СТИЛИ (ФОРМЫ, КНОПКИ, ТИПОГРАФИЮ>=========
@import "ui";
@import "forms";
//<ПОДКЛЮЧАЕМ ОБЩИЕ СТИЛИ (ФОРМЫ, КНОПКИ, ТИПОГРАФИЮ>=========

//<ПОДКЛЮЧАЕМ СТИЛИ СТРАНИЦ>=======================
@import "header";
@import "home";
@import "works";
@import "footer";
@import "blog";

//</ПОДКЛЮЧАЕМ СТИЛИ СТРАНИЦ>=======================

//<Основной блок>========================
.page {
	padding: 90px 0px 0px 0px;
	flex: 1 1 auto;
	@media (max-width: $md3 + px) {
		padding: 30px 0px 0px 0px;
	}
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		transition: color 0.3s ease 0s;
		margin: 0px 17px;
		font-size: 30px;
		color: inherit;
		@media (min-width: $md2+px) {
			&:hover {
				color: #ff6464;
			}
		}
	}
}
